<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788675984880-u4b7it60v9js5sqdtju1en0ai6kopn6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788675984880-u4b7it60v9js5sqdtju1en0ai6kopn6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788675984880-q7ljhlovom5bld3bc54ur1qpkqetva20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKvYhjEKJEZiO7iC-EPkWDth-tyEtSZVg</string>
	<key>GCM_SENDER_ID</key>
	<string>788675984880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodForYou.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uff1-asqp6a</string>
	<key>STORAGE_BUCKET</key>
	<string>uff1-asqp6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788675984880:ios:24f04dcec0c44ef5d83135</string>
</dict>
</plist>